*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-weight: 400;   /*NÃO USE OVER FLOW NO CORPO COMPLETO*/
    font-size: medium;

}

.contatos a{
    color: #000000;
    text-decoration: none; /*RETIRA O UNDERLINE DO TEXTO DE LINK*/
}
.contatos a:hover{
    color: #10427c;
    text-decoration: underline;
}

/* fazer a media screen para desktop ( pc) */