.my-projects{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:1rem;
}

.my-projects.open{
    background-color:#abcff8;
    margin: 3rem;
    border-radius: 1rem;
}

.my-projects .trigger{
    padding: 1.3rem .5rem;
    width: 80vw;
    border-radius: 1rem;
    background-color:#7991df;    
    border-radius: 1rem;
    margin: .8rem;
    cursor: pointer;
    transition: 0.5s ease;
}

.my-projects .trigger:hover{
    background-color:#8bb6e7;
}


#text5{
    padding: 1rem;
    font-size: 1rem;
    letter-spacing:.2rem;
    font-weight: 900;
    font-family:"Roboto", sans-serif;
    color: #1b1c1c;
}

#text5::after{
    content: '';
    display: inline-block;
    position: absolute;
    width: 2rem;
    height: 2rem;
    background-image: url(../img/icons/arrow-top.png);
    background-size: contain;
    background-repeat: no-repeat;
    transform: rotate(180deg);
    padding-left: .9rem;
}

.my-projects.open #text5::after{
    margin-left: 1.9rem;
    background-color: transparent;
    padding-right: 5rem;
    transform: rotate(360deg);
}

.my-projects .all-projects{
    display: none;
}

.my-projects.open .all-projects{
    display: flex;
    width: 50vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #0000ff;
    padding: 1rem 2rem;
    margin: 2rem 0rem;
    border-radius: 1rem;
}

.my-projects.open #btn-projects{
    background-color: transparent;
    border: none;
}

.my-projects #project-letters{
    padding: 1rem;
}

.all-projects{
    padding: 1rem 1rem 3rem 1rem;
}

.all-projects #project-letters img{
    max-width: 1.6rem;
    min-height: 1.6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.all-projects #project-letters{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45vw;
    font-size: larger;
}

.all-projects #project-letters a{
    width: 30vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size:larger;
    font-weight: 600;
    color: #000000;
    text-decoration: none;
    cursor: pointer;
    transition: 0.9 ease;
}

.all-projects #project-letters a:hover{
    color: #5c0377;
    transition: ease 0.5s;

}


@media only screen and (min-width: 768px){
    .my-projects{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin:1rem;
    }
    
    .my-projects.open{
        background-color:#abcff8;
        margin: 3rem;
        border-radius: 1rem;
    }
    
    .my-projects .trigger{
        padding: 1.3rem .5rem;
        width: 80vw;
        border-radius: 1rem;
        background-color:#7991df;    
        border-radius: 1rem;
        margin: .8rem;
        cursor: pointer;
        transition: 0.5s ease;
    }
    
    #text5{
        padding: 1rem;
        font-size: 1rem;
        letter-spacing:.2rem;
        font-weight: 900;
        font-family:"Roboto", sans-serif;
        color: #1b1c1c;
    }
    
    #text5::after{
        content: '';
        display: inline-block;
        position: absolute;
        width: 2rem;
        height: 2rem;
        background-image: url(/src/img/icons/arrow-top.png);
        background-size: contain;
        background-repeat: no-repeat;
        transform: rotate(180deg);
        padding-left: 1.6rem;
    }
    
    .my-projects.open #text5::after{
        margin-left: 1.9rem;
        background-color: transparent;
        padding-right: 5rem;
        transform: rotate(360deg);
    }
    
    .my-projects .all-projects{
        display: none;
    }
    
    .my-projects.open .all-projects{
        display: flex;
        width: 40vw;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 1px solid #0000ff;
        padding: 1rem 2rem;
        margin: 1rem 0rem 2rem 1rem;
        border-radius: 1rem;
    }
    
    .my-projects.open #btn-projects{
        background-color: transparent;
        border: none;
    }
    
    .my-projects #project-letters{
        padding: 1rem;
    }
    
    .all-projects{
        padding: 1rem 1rem 3rem 1rem;
    }
    
    #courses-letters{
        padding: 0.5rem;
    }
    
}